thead,
td {
  border: 2px solid lightgray;
}

td {
  background-color: rgb(240, 240, 240);
  height: 24px;
  color: black;
}

#totalPrice {
  color: #469536;
  font-size: 50px;
}

.icon {
  width: 80%;
  height: 80%;
}

.left-box {
  float: left;
  width: 58%;
}

.right-box {
  display: flex;
  float: right;
  width: 40%;
  align-items: center;
  flex-direction: column;
}

button {
  color: white;
  width: 48%;
  height: 120px;
  font-size: 40px;
}

#cancel {
  background-color: rgb(68, 68, 68);
}

#pay {
  background-color: #469536;
}

#product_table {
  width: 100%;
  background-color: rgb(160, 160, 160);
  border-collapse: collapse;
}
